@import "./colors";

body {
  font-family: "Press Start 2P", cursive;
  background-color: $yellow;
}

.body {
  margin: 25px;
}

.header {
  font-family: "Press Start 2P", cursive;
  color: $blue;
  font-size: 30px;
  text-shadow: 3px 3px 0px $orange;
  margin-bottom: 20px;
}

.submit-button:hover {
  color: $pink;
  border-color: $pink;
  cursor: pointer;
}

h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 35px;
  margin: 20px 0 30px 20px;
}

.new_user {
  margin: 0 0 10px 20px;
}
